body {
    background-color: blanchedalmond; 
    font-family: 'Times New Roman', Times, serif;
}

h1 {text-align: center;
}

h2 {text-align: center;
}

p {font-size: 13pt;
}

h3 {font-style: italic;
}
 