body {
    background-color: blanchedalmond; 
    font-family: 'Times New Roman', Times, serif;
}

h1 {text-align: center;
}

h2 {text-align: center;
}

p {font-size: 13pt;
}

h3 {font-style: italic;
}

.one {
width:300px;
height:170px;
float: right;
}

.two {
width:300px;
height:170px;
float: right;
}

.three {
width:300px;
height:150px;
float: right;
}

.four {
width:300px;
height:170px;
float: right;
}

.five {
width:300px;
height:170px;
float: right;
}

.six {
width:300px;
height:170px;
float: right;
}

.seven {
width:300px;
height:170px;
float: right;
}

.eight {
width:300px;
height:170px;
float: right;
}
